@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;
    width: 100%;
}

header{
    width: 100%;
    height: 80px;
    background-color: #000000e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div p{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px 20px;
}

header div a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 0px 10px;
    transition: 0.2s;
}

header div a:hover{
    background-color: rgb(61, 58, 58);
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 10px;
    transition: 0.2s;
}

#navbar a:hover{
    background-color: rgb(61, 58, 58);
}

main{
    /* background-color: red; */
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* position: relative; */
}

footer{
    height: 80px;
    width: 100%;
    bottom: 0;
    position: static;
    background-color: #000000e8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* bottom:-800px; */
}

footer h2{
    font-size: 16px;
    font-weight: 400;
}

footer .icon-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contact #ins-img{
    width: 40px;
}

.icon-contact #gmail-img{
    width: 60px;
}

.container-post{
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 4px #0f0f0f41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-post{
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-post{
    width: 60%;
    height: auto;
    margin: 0.5% 3%;
    text-align: justify;
}

.container-post h1{
    margin-bottom: 15px;
}

.container-post p{
    margin-bottom: 15px;
}

.footer-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.more-post{
    text-decoration: none;
    color: black;
}

.more-post:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1800px){
    .img-post img{
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 1400px){
    .img-post img{
        width: 250px;
        height: 200px;
    }
}

@media only screen and (max-width: 1000px){

    .img-post img{
        width: 350px;
        height: 150px;
        margin-bottom: 20px;
    }

    .container-post{
        height: auto;
        margin: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-post .content-post{
        text-align: center;
    }

    .container-post .footer-post{
        font-size: 12px;
    }

    .content-post{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){

    .img-post{
        width: 70%;
        height: 150px;
        margin-bottom: 15px;
    }

    .container-post{
        width: 90vw;
        height: auto;
    }

    .container-post .footer-post{
        font-size: 10px;
    }

    .content-post{
        width: 100%;
        font-size: 11pt;
    }

    .content-post p{
        width: 100%;
    }

    footer h2{
        font-size: 10px;
    }

    .icon-contact #ins-img{
        width: 30px;
    }
    
    .icon-contact #gmail-img{
        width: 40px;
    }
}
