@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-main .img-logo{
    width: 880px;
}

.right-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 40px;
    background-color: white;
    width: 60%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: relative;
}

#btn-voltar{
    position: absolute;
    right: 20px;
    top: 1px;
}

#btn-voltar button{
    width: 150%;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px ;
    background-color: white;
    color: black;
    outline: none;
}

#btn-voltar button:hover{
    cursor: pointer;
}

.title-container{
    text-align: center;
    margin-bottom: 36px;
}

.title-container h1{
    font-size: 36px;
    font-weight: 700;
}

.title-container h6{
    font-size: 16px;
    font-weight: 400;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 36px;
}

.inputs-container div{
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #ECECEC;
    display: flex;
    align-items: center;

}

.inputs-container input{
    border: none;
    background-color: transparent;
    outline: none;
    height: 35px;
    width: 70%;
}

.inputs-container div img{
    padding: 0px 20px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.btn-container button{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 8px ;
    background-color: #6358DC;
    color: white;
    outline: none;
}

.btn-container button:hover{
    cursor:pointer;
}

.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.register-container a{
    text-decoration: none;
    color: #6358DC;
}

#campo-empty{
    width: auto;
    text-align: center;
    padding: 3px;
    color: red;
    font-size: 20px;
    border-radius: 10px;
}


#btn-voltar button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1300px){

    .left-main .img-logo{
        width: 100%;
    }

    .right-main{
        margin-right: 60px;
    }
    .container{
        width: 90%;
    }
}

@media only screen and (max-width: 950px){
    main{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    main .left-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-main{
        width: 100%;
        height: auto;
    }

    .left-main .img-logo{
        width: 30vh;
    }

    .right-main{
        width: 100%;
        height: auto;
        margin: 40px 0px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-main .container{
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    
    main{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    main .left-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-main{
        width: 100%;
        height: auto;
    }

    .left-main .img-logo{
        width: 30vh;
    }

    .right-main{
        width: 100%;
        height: auto;
        margin: 40px 0px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .right-main .container{
        width: 85%;
    }

    .inputs-container div{
        width: 100%;
    
    }

    .btn-container button{
        width: 80%;
        height: 5vh;
    }

    .register-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 12px;
        margin-bottom: 20px;

    }

    #campo-empty{
        font-size: 16px;
    }
}

