@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-main .img-logo{
    width: 880px;
}

.right-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 40px;
    background-color: white;
    width: 70%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.title-container{
    text-align: center;
    margin-bottom: 32px;
}

.title-container h1{
    font-size: 36px;
    font-weight: 700;
    color: #1b7283;
}

.title-container h6{
    font-size: 16px;
    font-weight: 400;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 32px;
}

.inputs-container div{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #e7f0ea;
    display: flex;
    align-items: center;

}

.inputs-container input{
    border: none;
    background-color: transparent;
    outline: none;
    height: 35px;
    width: 100%;
}

.inputs-container div img{
    padding: 0px 20px;
}

.inputs-container div img:hover{
    cursor: pointer;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.btn-container button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 8px ;
    background-color: #e7f0ea;
    outline: none;
}

.btn-container button:hover{
    cursor:pointer;
}

.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.register-container a{
    text-decoration: none;
    color: #1b7283;
}

/*@media only screen and (max-width: 900px){
    .left-main .img-logo{
        width: 500px;
    }

    .right-main .container{
        width: 100%;
    }
}*/

@media only screen and (max-width: 650px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }

    .left-main .img-logo{
        width: 400px;
    }

    .right-main .container{
        width: 60%;
        margin: 25px 50px;
    }
}

#campo-empty{
    width: auto;
    text-align: center;
    padding: 3px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}