@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;;
}

main{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container-register{
    padding: 40px;
    width: 30%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#titles-container{
    margin-bottom: 32px;
}

#titles-container h1{
    font-size: 36px;
    font-weight: 700;
}

#titles-container h6{
    font-size: 16px;
    font-weight: 400;
}


#inputs-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#inputs-container .input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #e7f0ea;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#inputs-container input{
    border: none;
    outline: none;
    background-color: transparent;
    height: 35px;
    width: 100%;
}

#inputs-container input[placeholder]{
    padding: 0px 25px;
}

#inputs-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding-right:10px;

    background-color: #e7f0ea;
}

#inputs-container .img-eye:hover{
    cursor: pointer;
}

#select-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

#select-container select{
    width: 100%;
    height: 28px;
    border-radius: 8px;
    border: none;
    background-color: #e7f0ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-container select option{
    outline: none;
    border: none;

    display: flex;
    align-items: center;
}

#btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

#btn-container button{
    width: 70%;
    height: 50px;
    border-radius: 8px;
    border: none;
}

#btn-container button:hover{
    cursor: pointer;
}

#login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
}


#login-container a{
    text-decoration: none;
}

@media only screen and (max-width: 1300px){
    .container-register{
        width: 40%;
    }
}

@media only screen and (max-width: 700px){
    .container-register{
        width: 90%;
    }
}