@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: #000000e8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div p{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px 20px;
}

header div a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 0px 10px;
    transition: 0.2s;
}

header div a:hover{
    background-color: rgb(61, 58, 58);
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 10px;
    transition: 0.2s;
}

#navbar a:hover{
    background-color: rgb(61, 58, 58);
}

main{
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    height: 80px;
    width: 100%;
    bottom: 0;
    position: static;
    background-color: #000000e8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* bottom:-800px; */
}

footer h2{
    font-size: 16px;
    font-weight: 400;
}

footer .icon-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contact #ins-img{
    width: 40px;
}

.icon-contact #gmail-img{
    width: 60px;
}

.post-interclasse{
    width: 40vw;
    height: auto;
    margin: 30px 0px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 4px #0f0f0f41;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: justify;
    padding: 20px 20px
}

.post-interclasse h2{
    margin-bottom: 16px;
}

.post-interclasse p{
    height: 100px;
    margin-bottom: 16px;
}
#titulo-page{
    font-size: 30px;
    font-weight: bolder;
}

#btn-participar{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 8px ;
    background-color: #6358DC;
    color: white;
    outline: none;
}

/* #btn-confirm{    
    display: none;
    margin-left: 30px;
}

#btn-confirm:hover{
    cursor: pointer;
}

#btn-participar:hover{
    cursor: pointer;
} */

#btn-confirm{
    display: none;
    margin-right: 10px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 8px ;
    background-color: #6358DC;
    color: white;
    outline: none;
}

#btn-confirm:hover{
    cursor: pointer;
}

#btn-cancelar{
    margin-left: 20px;
    display: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 8px ;
    background-color: #6358DC;
    color: white;
    outline: none;
}

#btn-cancelar:hover{
    cursor: pointer;
}

#btn-participar:hover{
    cursor: pointer;
}

#btns{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}