@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: #000000e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div p{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px 20px;
}

header div a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 0px 10px;
    transition: 0.2s;
}

header div a:hover{
    background-color: rgb(61, 58, 58);
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 10px;
    transition: 0.2s;
}

#navbar a:hover{
    background-color: rgb(61, 58, 58);
}

main{   
    /* background-color: red; */
    height: calc(100vh - 210px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 80px;
    width: 100%;
    bottom: 0;
    position: static;
    background-color: #000000e8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* bottom:-800px; */
}

footer h2{
    font-size: 16px;
    font-weight: 400;
}

footer .icon-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contact #ins-img{
    width: 40px;
}

.icon-contact #gmail-img{
    width: 60px;
}

form{
    width: 40vw;
    height: 400px;
    margin: 30px 0px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 4px #0f0f0f41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    padding: 10px;
}

form div{
    width: 80%;
}

form input{
    /* border: none; */
    outline: none;
    background-color: white;
    height: 35px;
    width: 100%;
    padding: 5px;
}

form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
}

form div p{
    font-size: 20px;

}

#div-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.content-post{
    width: 60%;
    height: 94%;
    margin: 0.5% 3%;
    text-align: justify;
    word-wrap: break-word;
    /* overflow: hidden; */
} 
