@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fcf5f5;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div p{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px 20px;
}

header div a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 0px 10px;
    transition: 0.2s;
}

header div a:hover{
    background-color: rgb(61, 58, 58);
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 10px;
    transition: 0.2s;
}

#navbar a:hover{
    background-color: rgb(61, 58, 58);
}

main{
    /* background-color: red; */
    height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-post{
    width:50vw;
    height: auto;
    margin: 30px 0px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0px 2px 10px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}   

.content-post{
    text-align: justify;
    width: 80%;
    margin: 20px 0px;
}

.content-post .titulo-post{
    font-weight: bolder;
    font-size: 20px;
}
